{% extends "base.twig" %}

{% block content %}
    <div class="u-padding-side">
        <div class="u-content-small x" style="min-height: 800px;">

            {# PICTURE HERE
            <div class="error-image">
                <img src="{{options.error_image.url}} alt="error image"">
            </div>
            #}

            <h1 class="error-h1" style="margin-top: 160px;">Page not found</h1>
            <div class="error-p">
              <p>
                Please go to <a href="{{site.link}}">Home page</a>
              </p>
            </div>

            <!-- /u-content -->
        </div>
    </div>

{% endblock %}
