<div class="desktop-banner">
  <div class="banner-grid">
    <div class="banner-left-col">
      <div class="banner-grid--headline">
        <span>{{ post.hero_title }}</span>
      </div>
      <div class="banner-grid--pretext">
        <p>
          {{ post.hero_pretext }}
        </p>
      </div>
      <div class="banner-grid--button">
        <button class="banner-grid-first-button">
          <a href="{{ post.hero_nearest_park_link.url }}">
            {{ post.hero_nearest_park_link.title }}
          </a>
        </button>
        <button class="banner-grid-second-button">
          <a href="{{ post.hero_video_link.url }}">
            {{ post.hero_video_link.title }}
          </a>
        </button>
      </div>
    </div>
    <div class="banner-right-col"
      style="background-image:url({{
      Image(post.hero_right_image).src
      }})"></div>
  </div>
</div>

<div class="mobile-banner">
  <div class="banner-grid">
   <div class="banner-right-col"
      style="background-image:url({{
      Image(post.hero_right_image).src
      }})">
    </div>
    <div class="banner-left-col">
      <div class="banner-grid--headline">
        <span>{{ post.hero_title }}</span>
      </div>
      <div class="banner-grid--pretext">
        <p>
          {{ post.hero_pretext }}
        </p>
      </div>
      <div class="banner-grid--button">
        <button class="banner-grid-first-button">
          <a href="{{ post.hero_nearest_park_link.url }}">
            {{ post.hero_nearest_park_link.title }}
          </a>
        </button>
        <button class="banner-grid-second-button">
          <a href="{{ post.hero_video_link.url }}">
            {{ post.hero_video_link.title }}
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
