{% extends "base.twig" %}

{% block content %}

    {% include 'header-banner.twig' %}
    <div class="grid-home-page-video" style="background-image: url({{ theme.link }}/resources/assets/images/background.png)">
        <div class="div-video" style="background-image: url({{ theme.link }}/resources/assets/images/bg-video-img.png)">
        <div class="play-btn">
        <a href="{{ post.hero_video }}" rel="noreferrer noopener"><img src="{{ theme.link }}/resources/assets/images/play-btn.png" alt="play button" /></a>
        {#{{post.get_field('hero_video', FALSE, FALSE)}}#}
        </div>
        </div>

    </div>
    <div>
            {% include 'news-list.twig' %}
    </div>
{% endblock %}
