<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}>
{% set titleTag = wp_title ?? site.name %}
    <!--<![endif]-->
    <head>
        <meta charset="{{ site.charset }}"/>
        <title>{{titleTag|striptags}}</title>
        <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="author" href="{{ site.theme.link }}/humans.txt"/>
        <link rel="pingback" href="{{ site.pingback_url }}"/>

        <script type="text/javascript">
            var THEME_LINK = '{{ theme.link }}';
            var BASE_URL = '{{ site.link }}';
        </script>
        
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/resources/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/resources/assets/icons/favicon-16x16.png">

        {{function('wp_head')}}
