<div id="overlay">
            <div id="logo">
                  <a href="{{ site.link }}"><img src="{{theme.link}}/resources/assets/images/logo.svg" alt="logo"></a>
		        </div>
            <div class="div2">
                  {% if menu %}
                      <ul>
                          {% for item in menu.items %}
                          <li class="" >
                            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                          </li>
                          {% endfor %}
                      </ul>
                  {% endif %}
            </div>
             <div class="mobile-nav-lang">
                <a href="{}">Fi</a> /
                <a href="{}">Sv</a> /
                <a href="{}">En</a> /
                <a href="{}">Su</a>
            </div>
            <div class="mobile-header-buttons header-buttons">
            <a href="{}"><button class="mobile-buy-tickets-button">Osta liput</button></a>
            </div>
           
  </div>