{% block header %}
<header>
          <div class="top-nav">
           <div id="logo">
                  <a href="{{ site.link }}"><img src="{{theme.link}}/resources/assets/images/logo.svg" alt="logo"></a>
		        </div>
              <div class="header-menu">
                  {% if menu %}
                      <div id="nav-main" class="nav-main" role="navigation">
                        <ul>
                          {% for item in menu.items %}
                          <li class="menu-item {{ item.classes|join(' ') }}">
                            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                          </li>
                          {% endfor %}
                      </ul>
                      </div>
                  {% endif %}
            </div>
             <div class="nav-lang">
                <a href="{}">Fi</a> /
                <a href="{}">Sv</a> /
                <a href="{}">En</a> /
                <a href="{}">Su</a>
            </div>
            <div class="header-buttons">
            <a href="{}"><button class="buy-tickets-button">Osta liput</button></a>
            </div>
        </div>
          <div id="mobile-logo">
                  <a href="{{ site.link }}"><img src="{{theme.link}}/resources/assets/images/logo.svg" alt="logo"></a>
		        </div>
    </header>
{% endblock header %}
