<div class="news-block">
    <div class="grid-news">
        {% for newsItem in news %}
            <div class="news-item">
                <img src="{{ newsItem.thumbnail.src }}"  class="post-image" /><br>
                <p class="post-title">{{ newsItem.post_title }}</p><br>
                <p class="post-intro">{{ newsItem.post_excerpt }}</p><br>
                <a href="{{ newsItem.link }}" rel="noreferrer noopener" class="read-more">Lue Lisää</a>
            </div>
        {% endfor %}
    </div>
    <div class="show-more-news">
        <button class="more-news-btn"><a>lisää uutisia</a></button>
    </div>
</div>

