<div class="parallax__items">
  <div class="parallax_item parallax_item-1" style="background-image: url({{ theme.link }}/resources/assets/images/polygon1.png);">
  </div>
  <div class="parallax_item parallax_item-2" style="background-image: url({{ theme.link }}/resources/assets/images/polygon5.png);">
  </div>
  <div class="parallax_item parallax_item-3" style="background-image: url({{ theme.link }}/resources/assets/images/polygon.png);">
  </div>
  <div class="parallax_item parallax_item-4" style="background-image: url({{ theme.link }}/resources/assets/images/polygon3.svg);">
  </div>
  <div class="parallax_item parallax_item-5" style="background-image: url({{ theme.link }}/resources/assets/images/polygon4.svg);">
  </div>
