
{% extends "base.twig" %}
{% block content %}
  <div class="default-container"
    <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
          <section class="article-content text-body">
            <h2>{{ post.post_title }}</h2>
              <div class="u-content-small-x">
                <div class="article-body">
                  <p>{{post.content}}</p>
                </div>
              </div>

          </section>
    </article>
  </div>
{% endblock %}
