@media (min-width: 1024px) {
    .mobile-banner {
        display: none;
    }
}

@media (min-width: 1700px) { 
    .banner-grid {
        display: grid;
        max-width: 1680px;
        grid-template-columns: 42% 58%;
        grid-template-rows: 890px;
        margin: 0 auto;
        span {
            font-size: 90px;
            line-height: 85px;
            color: $button-background-color;
            text-align: left;
            text-transform: uppercase;
            letter-spacing:1.5rem;
        }
    }

    .banner-grid--headline {
        margin-top: 270px;
    }
    .banner-left-col {
        margin-left: 25px;

    }
    .banner-right-col {
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        margin-right: -100px;
    }

.banner-grid--pretext {
    p {
        color: $button-background-color;
        line-height: 32.6px;
        letter-spacing: 0.15px;
        margin-top: 20px;
        width: 642px;
        height: 90px;
        font-size: 30px;
        font-weight: 400;
    }
}

.banner-grid--button {
    margin-top: 40px;
}

.banner-grid-first-button {
    width: 259px;
    height: 70px;
    border: none;
    background-color: $button-background-color;
    cursor: pointer;
    a {
        font-size: 22px;
        color: $font-color-button;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
    }
}
.banner-grid-first-button:hover {
    background-color:$hover-button-color;
}
.banner-grid-second-button {
    text-align: left;
    width: 199px;
    height: 48px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url(/wp-content/themes/dev_test/resources/assets/images/play-button.png);
    background-repeat: no-repeat;
    background-position: 139px 0px;
    margin-left: 40px;
    a {
        font-size: 24px;
        color:$button-background-color;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }
    img {
        margin-left: 18px;
    }
}
}

@media (min-width: 1024px) and (max-width: 1150px) {
    .banner-grid--pretext {
        font-size: 18px;
    }
}

@media (max-width: 1023px) {
    .container #main-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .desktop-banner {
        display: none;
    }

    .mobile-banner {
        display: block;
     
    }
    .banner-grid {
        display: block;
        margin: 0 1rem;
    span {
        font-size: 48px;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 1rem;
        color: $button-background-color;
           
        }
    }

    .banner-grid--headline {
        margin-top: 30px;
    }
    .banner-left-col {
        height: 400px;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
    }
    .banner-right-col {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 400px;   
    }

.banner-grid--pretext {
    p {
        color: $button-background-color;
        line-height: 32.6px;
        letter-spacing: 0.15px;
        margin-top: 20px;
        font-size: 24px;
        font-weight: 400;
        width: auto;
    }
}

.banner-grid--button {
    margin-top: 40px;
    text-align: center;
}

.banner-grid-first-button {
    width: 200px;
    height: 60px;
    border: none;
    background-color: $button-background-color;
    cursor: pointer;
    margin-bottom: 35px;
    a {
        font-size: 20px;
        color: $font-color-button;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
    }
}
.banner-grid-first-button:hover {
    background-color:$hover-button-color;
}
.banner-grid-second-button {
    text-align: left;
    width: 199px;
    height: 48px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url(/wp-content/themes/dev_test/resources/assets/images/play-button.png);
    background-repeat: no-repeat;
    background-position: 127px 0px;
    margin-left: 25px;
    a {
        font-size: 22px;
        color:$button-background-color;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }
    img {
        margin-left: 18px;
    }
}
}
@media (min-width: 769px) and  (max-width: 1023px) {
    .banner-left-col {
        height: auto;
}
}
@media (min-width: 1300px) and (max-width: 1700px) {
.banner-grid {
    display: grid;
    max-width: 100%;
    grid-column-gap: 10px;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    height: auto;
    align-items: center;
    span {
        font-size: 90px;
        line-height: 85px;
        color: $button-background-color;
        text-align: left;
        text-transform: uppercase;
        letter-spacing:1.5rem;
    }
}

.banner-grid--headline {
    margin-top: 0px;
}
.banner-left-col {
    margin-left: 6rem;
}
.banner-right-col {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-right: 20px;
    height: 700px
}

.banner-grid--pretext {
p {
    color: $button-background-color;
    line-height: 32.6px;
    letter-spacing: 0.15px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
}
}

.banner-grid--button {
margin-top: 40px;
text-align: center;
}

.banner-grid-first-button {
width: 259px;
height: 70px;
border: none;
background-color: $button-background-color;
cursor: pointer;
a {
    font-size: 22px;
    color: $font-color-button;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
}
.banner-grid-first-button:hover {
background-color:$hover-button-color;
}
.banner-grid-second-button {
text-align: left;
width: 199px;
height: 48px;
cursor: pointer;
border: none;
background-color: transparent;
background-image: url(/wp-content/themes/dev_test/resources/assets/images/play-button.png);
background-repeat: no-repeat;
background-position: 139px 0px;
margin-left: 40px;
a {
    font-size: 24px;
    color:$button-background-color;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
img {
    margin-left: 18px;
}
}
}

@media (min-width: 1024px) and (max-width: 1299px) {
    .banner-grid {
        display: grid;
        max-width: 100%;
        grid-column-gap: 10px;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        height: auto;
        align-items: center;
        span {
            font-size: 70px;
            line-height: 85px;
            color: $button-background-color;
            text-align: left;
            text-transform: uppercase;
            letter-spacing:1rem;
        }
    }
    
    .banner-grid--headline {
        margin-top: 0px;
    }
    .banner-left-col {
        margin-left: 6rem;
    }
    .banner-right-col {
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        margin-right: 20px;
        height: 600px
    }
    
    .banner-grid--pretext {
    p {
        color: $button-background-color;
        line-height: 32.6px;
        letter-spacing: 0.15px;
        margin-top: 20px;
        font-size: 26px;
        font-weight: 400;
    }
    }
    
    .banner-grid--button {
    margin-top: 40px;
    text-align: center;
    }
    
    .banner-grid-first-button {
    width: 200px;
    height: 60px;
    border: none;
    background-color: $button-background-color;
    cursor: pointer;
    a {
        font-size: 22px;
        color: $font-color-button;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
    }
    }
    .banner-grid-first-button:hover {
    background-color:$hover-button-color;
    }
    .banner-grid-second-button {
    text-align: left;
    width: 199px;
    height: 48px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url(/wp-content/themes/dev_test/resources/assets/images/play-button.png);
    background-repeat: no-repeat;
    background-position: 139px 0px;
    margin-left: 20px;
    a {
        font-size: 24px;
        color:$button-background-color;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }
    img {
        margin-left: 18px;
    }
    }
    }