@media (min-width: 1100px) {
    .grid-home-page-video {
    display:grid;
    grid-template-columns: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 1045px;
    align-content: center;
    margin-top: 70px;
}

.div-video{
    display: grid;
    width: 1045px;
    height: 698px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    text-align: center;

}
.play-btn {
    align-self: center;
}
}
@media (min-width: 1024px) and (max-width: 1100px) {
    .grid-home-page-video {
    display:grid;
    grid-template-columns: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 1000px;
    margin-top: 70px;
    align-content: center;
}

.div-video{
    display: grid;
    width: 990px;
    height: 698px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.play-btn {
    align-self: center;
}
}






@media (max-width: 500px) {
.grid-home-page-video {
    display:grid;
    grid-template-columns: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 400px;
    align-content: center;
    margin-top: 50px;
}

.div-video{
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 350px;
    height: 350px;
    align-content: center;

}
.play-btn {
    align-self: center;
    img {
        width: 72px;
        height: 72px;
    }
}
}


@media  (min-width: 501px) and (max-width: 769px) {
    .grid-home-page-video {
        display:grid;
        grid-template-columns: 100%;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        height: 600px;
        align-content: center;
        margin-top: -30px;
    }
    
    .div-video{
        display: grid;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        min-width: 600px;
        height: 500px;
        align-content: center;
    
    }
    .play-btn {
        align-self: center;
        img {
            width: 72px;
            height: 72px;
        }
    }

}

@media  (min-width: 769px) and (max-width: 1023px) {
    .grid-home-page-video {
        display:grid;
        grid-template-columns: 100%;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        height: 800px;
        align-content: center;
        margin-top: 0px;
    }
    
    .div-video{
        display: grid;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        min-width: 800px;
        height: 700px;
        align-content: center;
    
    }
    .play-btn {
        align-self: center;
        img {
            width: 72px;
            height: 72px;
        }
    }

}
@media  (min-width: 1024px) and (max-width: 1299px) {
    .grid-home-page-video {
        margin-top: 0px;
    }
}