/* MOBILE NAV */

@media (min-width: 1024px) {
  #overlay, #overlay-input{
    display: none;
  }
}

@media (max-width: 1023px) {

    #overlay-button {
      position: absolute;
      right: 0.5em;
      top: 0.75em;
      padding: 26px 11px;
      z-index: 5;
      cursor: pointer;
      user-select: none;

      span {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background-color:$button-background-color;
          position: relative;
          display: block;
          transition: all .2s ease-in-out;
          &:before {
            top: -10px;
            visibility: visible;
          }
          &:after {
            top: 10px;
          }
          &:before, &:after {
              height: 4px;
              width: 35px;
              border-radius: 2px;
              background-color:$button-background-color;
              position: absolute;
              content: "";
              transition: all .2s ease-in-out;
          }
        }
        &:hover span, &:hover span:before, &:hover span:after {
          background: $button-background-color;
        }
    }

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox]:checked ~ #overlay {
      visibility: visible;
    }

    input[type=checkbox]:checked ~ #overlay-button {
      &:hover span, span{
        background: transparent;
      }
      span {
        &:before {
          transform: rotate(45deg) translate(7px, 7px);
          opacity: 1;
        }
        &:after {
          transform: rotate(-45deg) translate(7px, -7px);
        }
      }
    }

    #overlay {
      height: 100vh;
      width: 100vw;
      background: $news-background-color;
      z-index: 2;
      top: 0;
      visibility: hidden;
      position: fixed;
      overflow-y: scroll;
      &.active {
        visibility: visible;
      }
      ul {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-left: 0;
        list-style-type: none;
        li {
          padding: 1em;

          a {
              color: $button-background-color;
              text-decoration: none;
              line-height: 32px;
              font-weight: 500;
              font-size: 24px;
            &:hover {
              color: $hover-button-color;
            }
          }
        }
      }
  .home-page-link {
      margin-top: 50px;
  }

  #logo {
    img {
      cursor: pointer;
      margin: 8px 14px 35px 24px;
    }
  }
  .mobile-header-buttons {
      margin-top: 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      display: flex;

  }
  .mobile-buy-tickets-button {
    width: 150px;
    height: 60px;
    border: none;
    text-decoration: none;
    color: $font-color-button;
    text-transform: uppercase;
    background-color:$button-background-color;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;

}
.mobile-buy-tickets-button:hover {
    background-color:$hover-button-color;
}
.mobile-nav-lang {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
    a { 
        text-decoration: none;
        color:$font-color-nav-lang;
        text-align: center;
        text-transform: uppercase;
        margin-left: 5px;
        margin-right: 10px;
    }
}
 }
}
