// DevTest Pour Amal
.top-nav {
    max-width: 1690px;
    display: grid;
    grid-template-columns: 5% 72% 14% 9%;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
    @media (min-width: 1700px) {
        margin-left: auto;
        margin-right: auto;
    }
    /* MOBILE NAV */
    @media (max-width: 1023px) {
        display: none;
        /*mobile nav shows*/
    }
    #logo {
        img {
            cursor: pointer;
        }
    }
    .header-menu {
        text-align: right;
    }
    .header-buttons {
        margin-bottom: 12px;
        text-align: right;
    }
    .buy-tickets-button {
        width: 150px;
        height: 60px;
        border: none;
        text-decoration: none;
        color: $font-color-button;
        text-transform: uppercase;
        background-color:$button-background-color;
        cursor: pointer;
        font-size: 20px;
        text-align: center;
        border-radius: 4px;

    }
    .buy-tickets-button:hover {
        background-color:$hover-button-color;
    }
    .nav-lang {
        text-align: center;
        a { 
            text-decoration: none;
            color:$font-color-nav-lang;
            text-transform: uppercase;
            margin-left: 5px;
            margin-right: 10px;
        }
    }
}

#mobile-logo {
    display: none
}
    ;

#nav-main ul {
    list-style: none;
    position: relative;
    li {
        display: inline-block;
        position: relative;
        margin-left: 0px;
     a {
        text-decoration: none;
        text-decoration-line: none;
        line-height: 24px;
        color:$font-nav-menu-color;
        font-size: 20px;
        letter-spacing: 0.44px;
        text-transform: uppercase;
        margin-left: 30px;
    }

}
}


/* menu hover */
#nav-main .current_page_item a:after {
    content: "";
    position: absolute;
    background: $button-background-color;
    height: 3px;
    bottom: -5px;
    width: 40%;
    left: 29px;
}
.menu-item:hover:after {
    width: 40%;
    left: 29px;
}
.menu-item:after {
    content: "";
    position: absolute;
    background: $button-background-color;
    width: 0;
    height: 3px;
    bottom: -5px;
}


@media (max-width: 1023px) {
    #mobile-logo {
        margin-top: 10px;
        display: block;
        grid-template-rows: unset;
        margin-left: 2rem;
    }
    img {
        cursor: pointer;
    }
}

@media (min-width: 1550px) and  (max-width: 1699px){
    .top-nav {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
@media (min-width: 1300px) and  (max-width: 1550px){
    .top-nav {
        max-width: 95%;
        grid-template-columns:4% 70% 14% 9%;
        margin-left:auto;
        margin-right: auto;
    }
    #nav-main ul li a {
        margin-left: 20px;
    }
    .top-nav .nav-lang a {
        margin-left: 0px; 
        margin-right: 0px; 
    }
    .top-nav .buy-tickets-button {
        width: 140px;
        height: 50px;
        font-size: 18px;
}
}
@media (min-width: 1150px) and  (max-width: 1299px){
    .top-nav {
        max-width: 98%;
        grid-template-columns: 7% 68% 12% 11%;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom:0px;
    }
   
    #nav-main ul li a {
        margin-left: 10px;
    }
    .top-nav .nav-lang { 
        text-align: center;
    
    a {
        margin-left: 0px; 
        margin-right: 0px; 
    }
}
    .top-nav .buy-tickets-button {
        width: 140px;
        height: 50px;
        font-size: 18px;
}
}
@media (min-width: 1024px) and  (max-width: 1149px){
    .top-nav {
        max-width: 95%;
        grid-template-columns: 7% 68% 12% 11%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    #nav-main ul li  {
        text-align: left;
    
     a {
        margin-left: 12px;
        letter-spacing: 0.5px;
        text-transform: none;

    }
}
    .top-nav .nav-lang a {
        margin-left: 0px; 
        margin-right: 0px; 
        font-size: 14px;
    }
    .top-nav .buy-tickets-button {
        width: 120px;
        height: 45px;
        font-size: 16px;
}
}