
    .news-block { 
        background-color: $news-background-color;
        width: 100%;
        text-align: -webkit-center;
    }
    .grid-news {
        max-width: 1650px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        padding-top: 95px;
        padding-bottom: 80px;
        justify-items: center;
}
    .news-item {
        background-color: $news-grid-color;
        height: 717px;
        text-align: left;
        .post-image {
            margin-bottom: 20px;
        }
        .post-title {
            font-size: 35px;
            color:$button-background-color;
            margin-left: 2rem;
            margin-right: 2rem;
            letter-spacing: 0.7rem;
            padding-bottom: 20px;
            //line-height:20px; 
        }
        .post-intro {
            //max-width: 440px;
            font-size: 25px;
            color:$post-into-color;
            font-weight: 400;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 20px;
        }
        .read-more {  
            margin-top: 90px;
            margin-left: 2rem;
            margin-right: 2rem; 
            text-decoration: none;
            font-size: 25px;
            color: $read-more-color;
            }

    }
  
    .more-news-btn {
        margin-bottom: 100px;
        width: 249px;
        height: 70px;
        border: none;
        background-color: $button-background-color;
        cursor: pointer;
        a {
            font-size: 22px;
            color: $font-color-button;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;

        }
    }
    .more-news-btn:hover{
        background-color:$hover-button-color;
    }
    @media (min-width: 1700px) {
    .post-image {
        min-width: 518px;
        max-height: 345px;
    }
}
    
    .show-more-news {
        display: none;
      }

@media (max-width: 1023px) {
    .grid-news {
        display: block;
        padding-top: 50px;
        padding-bottom: 30px;
    } 
    .news-item {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    } 
    .news-item .post-title {
        height: auto;
        letter-spacing: 0.3rem;
        line-height: normal;

    }
    .news-item .post-intro {
        width: auto;
        height: auto;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .news-item .read-more {
        font-size: 20px; 
        width: auto;
        height: auto;
    }
    .more-news-btn {
        margin-bottom: 50px;
        width: 200px;
        height: 60px;
    }
    .news-item .post-image {
        max-width: 95%;
        height: auto;
    
    }
}
@media (min-width: 1023px) and (max-width: 1699px) {
    .grid-news {
        max-width: 95%;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;

    }

.news-item .post-image {
    max-width: 100%;
    height: auto;

}
}
