// TYPOGRAPHY CSS

// Font family "Oswald"
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 34px;
  line-height: 48px;
  letter-spacing: 0.17px;
  font-weight: 700;
  color: $button-background-color;

 }

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
}

.default-container {

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0.6em;
      margin-bottom: 0.28em;
    }

    p {
      margin-top: 8px;
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.1px;
      text-align: left;
      line-height: 28px;
    }
  }


