// COLORS
$button-background-color:#662483;
$font-color-button:#f0ff02;
$font-color-nav-lang:#50525a;
$font-nav-menu-color:#5e2b7f;
$news-background-color:#faf5fc;
$news-grid-color: #FFFFFF;
$read-more-color:#2ae2a3;
$post-into-color: #000000;
$hover-button-color:#973c9a;
