@media (min-width: 1500px) {
  .parallax__items {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
  }

  .parallax_item {
    width: 92%;
    height: 800px;
    text-align: center;
    overflow: hidden;
    background: transparent;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
  }
  .parallax_item:nth-child(1) {
    background-position: top left;
    top: 800px;
    left: 0px;
    width: 115px;
    height: 250px;
    background-size: contain;
  }
  .parallax_item:nth-child(2) {
    background-position: top right;
    top: 800px;
    right: 26px;
    z-index: 1;
    width: 330px;
    height: 154px;
    display: none;
  }

  .parallax_item:nth-child(3) {
    background-position: top right;
    right: 261px;
    top: 1813px;
    z-index: 1;
    width: 220px;
    height: 225px;
  }
  .parallax_item:nth-child(4) {
    background-position: top left;
    top: 2141px;
    left: 0px;
    width: 220px;
    height: 225px;
    z-index: 1;
  }
  .parallax_item:nth-child(5) {
    background-position: top right;
    top: 2951px;
    right: 0px;
    width: 220px;
    height: 225px;
    z-index: 1;
  }

}


@media (max-width: 1499px){
.page-id-5 .parallax_item {
  opacity: 0;
}
.parallax_item {
  opacity: 0;
}
}

@media (min-width: 1500px){
  .page-id-5 .parallax_item {
    opacity: 1;
}
.parallax_item {
  opacity: 0;
}
}